<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>hospital screach </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Farsan&family=Poppins:wght@200;300;400;500&family=Water+Brush&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@200;300;400;500&family=Water+Brush&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@200;300;400;500&family=Water+Brush&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Water+Brush&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style rel="stylesheet">
        .app-section{
    background-image: url(bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
.book_button a{
text-decoration:none;
}


    </style>
</head>
<body>
<!--navbar-->
<div class="container-fluid nav_container" id="temp">
        <div class="nav_at_media" id="navbar_at_media">
            <div class="logo">
                <a href="#"><img src="{% static 'img/logo.jpg' %}" alt=""></a> <a href="#"><span onclick="hide()"><ion-icon
                            name="close-circle-outline"></ion-icon></span></a>
            </div>
            <ul>
                <li><a href="#"><span><ion-icon name="home-outline"></ion-icon> </span> HOME</a></li>
                <li><a href="#"><span><ion-icon name="fitness-outline"></ion-icon> </span> SUPPLY</a></li>
                <li><a href="{% url 'hospage' %}">HOSPITALS</a></li>
                <li><a href="{% url 'emergencyfrom' %}">EMERGENCY</a></li>
                <li><a href="#"><span><ion-icon name="document-text-outline"></ion-icon></ion-icon> </span>
                        APPOINTMENT</a></li>
                <li><a href="#"><span><ion-icon name="id-card-outline"></ion-icon> </span> REMOTE </a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid mobile_section">
        <div class="row">
            <div class="logo_at_mobile">
                <a href="#"><img src="{% static 'img/logo.jpg' %}" alt=""></a>
                <a href="#"><span onclick="show_menu()"><i class="fa fa-bars"></i> MENU</span></a>
            </div>
        </div>
    </div>
    <div class="container-fluid section1">
        <div class="row">
            <div class="col-md-3 logo">
                <a href="#"><img src="{% static 'img/logo.jpg' %}" alt=""></a>
            </div>
            <div class="col-md-6 nav_itmes">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SUPPLY</a></li>
                    <li><a href="{% url 'hospage' %}">HOSPITALS</a></li>
                    <li><a href="{% url 'emergencyfrom' %}">EMERGENCY</a></li>
                    <li><a href="#">APPOINTMENT</a></li>
                    <li><a href="#">REMOTE </a></li>
                </ul>
            </div>
            <div class="col-md-3 book_button">
                <button ><a href="{% url 'emergencyfrom' %}">Ambulance</a> <span><ion-icon name="pulse-outline"></ion-icon></span></button>
            </div>
        </div>
    </div>

    <div class="container-fluid search-section">
        <div class="container-fluid blur">
            <div class="container search-div">
                <div class="row">
                    <h1>YOUR HOME FOR HEALTH</h1>
                    <h4>Find and Book</h4>
                    <center>
                        <div class="col-md-8 search-bar">
                            <select name="" id="">
                                <option value="">Bhopal</option>
                                <option value="">Indore</option>
                                <option value="">Gwalior</option>
                                <option value="">Kanpur</option>
                                <option value="">Delhi</option>
                                <option value="">Heydrabad</option>
                                <option value="">Noida</option>
                                <option value="">Banglore</option>
                                <option value="">Gurugram</option>
                                <option value="">Rajgarh</option>
                                <option value="">Jaipur</option>
                                <option value="">Kota</option>
                                <option value="">Nagpur</option>
                                <option value="">Mumbai</option>
                            </select>
                            <button id="search-button"><span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span></button>
                        </div>
                    </center>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 search-sub-divs"><a href="#"><span><ion-icon
                                    name="chatbubbles-outline"></ion-icon></span>
                            <h6>Contact Hospital</h6>
                        </a></div>
                    <div class="col-md-2 search-sub-divs"><a href="#"><span><ion-icon
                                    name="id-card-outline"></ion-icon></span>
                            <h6>Book Ambulance</h6>
                        </a></div>
                    <div class="col-md-2 search-sub-divs"><a href="#"><span><ion-icon
                                    name="bookmarks-outline"></ion-icon></span>
                            <h6>Remote Access</h6>
                        </a></div>
                    <div class="col-md-2 search-sub-divs"><a href="#"><span><ion-icon
                                    name="document-text-outline"></ion-icon></span>
                            <h6>Advance Form fill</h6>
                        </a></div>
                    <div class="col-md-2 search-sub-divs"><a href="#"><span><ion-icon
                                    name="book-outline"></ion-icon></span>
                            <h6>Read More</h6>
                        </a></div>
                    <div class="col-md-2 search-sub-divs"><a href="#"><span><ion-icon
                                    name="people-circle-outline"></ion-icon></span>
                            <h6>About Us</h6>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid Safety-section">
        <div class="row">
            <div class="col-md-6 safety-list">
                <h1>Safety of your life is our <span>Top Most Priority.</span></h1>
                <ul>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> Multi-level security checks</li>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> Wide network on a large scale</li>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> Response within a couple of minutes</li>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> Easy and simple with time Effectiveness</li>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> No more waiting period for form formalities</li>
                </ul>
                <button>Read More</button>
            </div>
            <div class="col-md-6 safe-img">
                <center><img src="{% static 'img/safe.png' %}" alt=""></center>
            </div>
        </div>
    </div>
    <div class="container-fluid all-in-one-section">
        <div class="row">
            <div class="col-md-6 safe-img">
                <center><img src="{% static 'img/all-in-one.png' %}" alt=""></center>
            </div>
            <div class="col-md-6 safety-list">
                <h1>Get your Emergency resolved on signle click<span>Only at One palce.</span></h1>
                <ul>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> Qick Response</li>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> Wide Network for service</li>
                    <li><span><ion-icon name="checkmark-outline"></ion-icon></span> Remote access to any hospital</li>
                </ul>
                <button>Explore Now</button>
            </div>

        </div>
    </div>
    <div class="container-fluid app-section" style="padding: 0;">
        <div class="container-fluid temp">
            <div class="container app">
                <div class="row">
                    <div class="col-md-6 download-text">
                        <a href="#"><img src="{% static 'img/logo.jpg' %}" alt=""></a>
                        <h1>Download Our Emergency App</h1>
                        <p><span>Rate : 5.0</span> Download and register now and get everyone secured nearby you and
                            your special one's</p>
                        <button>Download Now</button>
                    </div>
                    <div class="col-md-6 phone-img">
                        <center><img src="{% static 'img/phone.png' %}" alt=""></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid blur_div">
        <div class="container-fluid footer-section">
            <div class="container footer-contianer">
                <div class="row">
                    <div class="col-md-2 footer_items">
                        <h4>Saviour</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer_items">
                        <h4>For Customers</h4>
                        <ul>
                            <li><a href="#">Search For Hospital</a></li>
                            <li><a href="#">Advance Form Filling</a></li>
                            <li><a href="#">Emergency Advise</a></li>
                            <li><a href="#">Ambulance Booking</a></li>
                            <li><a href="#">Medical Supply</a></li>
                            <li><a href="#">Appointment Booking</a></li>
                            <li><a href="#">Doctors Contacts</a></li>
                            <li><a href="#">Equipment Data</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer_items">
                        <h4>Remote Access</h4>
                        <ul>
                            <li><a href="#">Ventilator Availability</a></li>
                            <li><a href="#">Oxygen Cyllinder</a></li>
                            <li><a href="#">Bed Availability</a></li>
                            <li><a href="#">Medicine Facility</a></li>
                            <li><a href="#">Doctors Availability</a></li>
                            <li><a href="#">Nearest Hospital</a></li>
                            <li><a href="#">Best Hospital in Cities</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer_items">
                        <h4>For Hospitals</h4>
                        <ul>
                            <li><a href="#">Doctors Reach</a></li>
                            <li><a href="#">Medical Supply</a></li>
                            <li><a href="#">Ambulance Supply</a></li>
                            <li><a href="#">Saviour Reach</a></li>
                            <li><a href="#">Hospital Profile</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer_items">
                        <h4>More</h4>
                        <ul>
                            <li><a href="#">Help</a></li>
                            </li>
                            <li><a href="#">Developers</a>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Healthcare Directory</a></li>
                            <li><a href="#">Saviuor Health Wiki</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer_items">
                        <h4>Social</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Youtube</a></li>
                            <li><a href="#">Github</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container footer-logo">
                    <center><a href="#"><img src="{% static 'img/logo.jpg' %}" alt=""></a></center>
                </div>
            </div>
        </div>
    </div>



















    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
    var searchButton = document.getElementById('search-button');

      searchButton.addEventListener('click', function() {

        var nextPageUrl = 'hospital';  // Replace with the actual URL


        window.location.href = 'hospital';
    });
</script>

</body>
</html>